/* 时间轴短代码内的链接样式 */
.hextra-archive-timeline a {
  color: #4b5563 !important;
  text-decoration: none !important;
}
.hextra-archive-timeline a:hover {
  color: var(--hextra-primary-600) !important;
  text-decoration: underline;
}




/* 正常屏幕下，两个子元素都显示 */
.hero-container > * {
  flex: 0 0 auto;
}

/* 手机端（宽度小于768px）隐藏 Logo，并且标题可占满整行 */
@media (max-width: 767px) {
  .hero-logo {
    display: none;
  }
  
}


/* 内容型文档的元数据超链接应呈现蓝色样式 */
a.article-meta-links {
  color: var(--hx-color-primary-600) !important;
  text-decoration: none;
}

a.article-meta-links:hover {
  text-decoration: underline;
}



/* 扩大移动端按钮点击区域，防止误触 */
@media (max-width: 768px) {
  .hextra-sidebar-container button {
    padding: 0.4rem;
  }
}


/* 减少手机顶端导航栏下方的空间 */
@media (max-width: 768px) {
  :root {
    --navbar-height: 3rem; /* 默认通常是 4rem 左右 */
  }
}



/* 修复：
桌面端和移动端的脚注、一些没有成功生成原生目录的文章
避免跳转时返回链接的位置被导航栏遮挡
*/
/* sup[id] { */
  /* scroll-margin-top: var(--navbar-height); */
h2[id], h3[id], h4[id], h5[id], h6[id], sup[id] {
  scroll-margin-top: calc(var(--hx-spacing) * 16 + env(safe-area-inset-top, 0px));
}


/* 自定义引用块样式 */
blockquote {
  /* border-left: 4px solid #3b82f6; */
  /* background-color: #f9fafb;        */
  border-left: 4px solid #1b468b;
  background-color: #f7fbff;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  border-radius: 0 8px 8px 0;      /* 右侧圆角 */
  color: #374151;
}

/* 引用内的段落间距 */
blockquote p {
  margin: 0.5rem 0;
}

/* 引用内的强调文字 */
blockquote strong {
  /* color: #1f2937; */
  color: #0030b6;
}

/* 暗色模式适配 */
.dark blockquote {
  background-color: #1f2937;
  border-left-color: #60a5fa;
  color: #d1d5db;
}
.dark blockquote strong {
  color: #f9fafb;
}





/* 针对高亮块（callout）内的标题加粗 */
.hx\:rounded-lg.hx\:border > p.hx\:font-medium {
  font-weight: bold !important;
}