<div class="hx:h-full hx:rounded-2xl hx:border hx:border-gray-200 dark:hx:border-neutral-800 hx:p-6 hx:shadow-sm">

  {{- if or .icon .title -}}
  <div class="hx:flex hx:items-center hx:gap-3 hx:mb-4">

    {{- if .icon -}}
      <div class="hx:text-primary-600 dark:hx:text-primary-400">
        {{- $attrs := .attributes | default "height=28 width=28" -}}
        {{- partial "utils/icon.html" (dict "name" .icon "attributes" $attrs) -}}
      </div>
    {{- end -}}

    {{- if .title -}}
      <h3 class="{{ .titleClass | default "hx:text-xl hx:font-semibold" }}">
        {{ .title }}
      </h3>
    {{- end -}}

  </div>
  {{- end -}}

  <div class="content">
    {{ .inner }}
  </div>

</div>